
/*#F2545B*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

body {
    background-color: #F3F7F0;
    
}

header {
    display: flex;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color: #19323C;
    color: white;
    font-family: 'Atma', cursive;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    width: 85%;
}

.logo i {
    padding: 20px;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #19323C;
    height: 50px;
    width: 10%;
    margin: 25px;
    overflow: hidden;
    text-align: center;
    justify-self: end;
    border-radius: 5px;
    transition: all 0.8s;
}

.menu h3 {
    margin-bottom: 20px;
}

.menu:hover {
    height: 200px;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 50px;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 150%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
    overflow: hidden;
}

.video-container {
    display: block;
    width: 100vw;
    overflow: hidden; 
}

.banner {
    background: rgba(25, 50, 60, 0.3);
    color: #F3F7F0;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    text-align: center;
    
}

h1 {
    font: 4rem 'Atma', cursive;
    padding-top: 100px;
}

p {
    font-size: 1.2rem;

}

.card {
    float: right;
    width: 40%;
    height: 60%;
    background-color: #F3F7F0DD;
    border-radius: 5px;
    margin: 40px;
    margin-right: 10%;
}

.card p {
    color: #19323C;
    height: 25%;
    padding: 50px;
}

button {
    border: none;
    background-color: #F9A03F;
    font-size: 1rem;
    font-weight: 600;
    color: #F3F7F0;
    padding: 12px 40px;
    border-radius: 30px;
    transition: all 0.5s;
}

button:hover {
    background-color: #501537;
}

footer {
    margin-bottom: 0;
    padding: 20px;
}

table {
    width: 100%;
    height: 40%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

table nav {
    display: flex;
    flex-direction: column;
}

td {
    width: 20%;
}

td p {
    padding: 20px;
}

ul {
    list-style-type: none;
}

.join {
    border: none;
    border-radius: 3px;
    padding: 5px 25px;
}

#input {
    padding-right: 100px;
}

#join {
    background-color: #F9A03F;
    color: #F3F7F0;
}

#join:hover {
    background-color: #501537;
}


.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin: 10px;
}
