
/*#F2545B*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

body {
    background-color: #F3F7F0;
    
}

header {
    display: flex;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color: #19323C;
    color: white;
    font-family: 'Atma', cursive;
    justify-content: space-around;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    width: 85%;
}

.logo i {
    padding: 20px;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #19323C;
    height: 50px;
    width: 10%;
    margin: 25px;
    overflow: hidden;
    text-align: center;
    justify-self: end;
    border-radius: 5px;
}

.menu h3 {
    margin-bottom: 20px;
}

.menu:hover {
    height: fit-content;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 50px;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 150%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
    overflow: hidden;
}

.video-container {
    width: 100vw;
    overflow: hidden; 
}

.banner {
    background: rgba(25, 50, 60, 0.3);
    color: #F3F7F0;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    text-align: center;
    
}

h1 {
    font: 4rem 'Atma', cursive;
    padding-top: 100px;
}

.card {
    float: right;
    width: 30%;
    height: 60%;
    background-color: #F3F7F0DD;
    border-radius: 5px;
    margin: 40px;
    margin-right: 10%;
    padding: 20px;
}

.card p {
    color: #19323C;
    height: 25%;
    padding: 40px;
    font-size: 1.2rem;
}

button {
    border: none;
    background-color: #F9A03F;
    font-size: 1rem;
    font-weight: 600;
    color: #F3F7F0;
    padding: 12px 40px;
    border-radius: 30px;
    transition: all 0.5s;
}

button:hover {
    background-color: #501537;
}

.shop-items {
    padding: 20px;
    font-family: 'Catamaran', sans-serif;
    color: #19323C;
}

.shop-items h2, h3 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
}

.plants {
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

.indoor, .outdoor {
    flex-direction: column;
}

.container {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: #19323C88;
    color: white;
    line-height: 200px;
    vertical-align: middle;
    border-radius: 3px;
    transition: all 0.3s;
}

.container img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
    object-fit: cover;
    border-radius: 3px;
}

.container:hover {
    background-color: #501537DD;
}

.type {
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    margin: auto;
    padding: 20px;
}


footer {
    background-color: #eaf1e4;
    position: absolute;
    z-index: -10;
    width: 100%;
}

footer img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    object-fit: cover;
}

.img-container {
    position: absolute;
    z-index: -2;
    background-color: #19323C;
    height: 100%;
    width: 50%;
}

table {
    width: fit-content;
    height: 60%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

th, td {
    padding: 20px 20px;
    width: 25%;
    vertical-align: top;
}

.visit, .join-col {
    color: white;
}

.left {
    text-align: left;
    padding: 10px;
}

.info {
    font-size: 0.8rem;
}

table nav {
    display: flex;
    flex-direction: column;
}


.join {
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
}

#input {
    padding-right: 50px;
}

#join {
    background-color: #F9A03F;
    color: #F3F7F0;
}

#join:hover {
    background-color: #501537;
}

.map {
    display:flex;
    border: 4px solid #eaf1e4;
    border-radius: 5px;
}


.copyright {
    text-align: right;
    font-size: 0.8rem;
    margin: 0px 20px;
    margin-bottom: 0;
}